@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
}

nav {
    background-color: #F58021;
    padding: 10px 20px;
    width: 100%;
}

.navbar {
    background-color: #F58021;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    height: 90px;
    margin: 0 auto;
    align-items: center;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
}

.navbar .socials {
    display: flex;
    list-style-type: none;
}

.tabs .active a{
    color: #00A092;
}

.navbar .tabs {
    list-style-type: none;
    display: flex;
}

.navbar .tabs a:hover {
    color: #00A092;
    transition: .2s ease-in-out;
}

.toggle {
    display: none;
    width: 30px;
    height: 21px;
    justify-content: space-between;
    cursor: pointer;
    background: transparent;
    border: none;
    flex-direction: column;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: .3s;
    justify-content: space-between;
    border-radius: 2px;
}

.logo img {
    width: 96px;
    height: 50px;
}

.close-sidebar {
    display: none;
}

#Hero {
    background-image: url("../../assets/images/Background.png");
    background-size: cover;
    background-position-x: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
}

.hero-content {
    max-width: 1400px;
    margin: auto;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.hero-content h1 {
    color: #00A092;
    font-size: 80px;
    width: 60%;
}

.hero-content p {
    width: 30%;
    margin-top: 40px;
}

.hero-content a {
    background-color: #F58021;
    margin-top: 40px;
    width: 240px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.hero-content .live-cam-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    padding: 25px;
}

.hero-content .live-cam-btn span {
    font-size: 50px;
    line-height: 0px;
    transform: translate(10px,7px);
}

.hero-content .live-cam-btn:hover {
    background-color: #D26004;
    transition: .5s ease-in-out;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;


    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.popup-content {
    background-color: white;
    width: 90%;
    max-width: 815px;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0,0,0,0.05);

    transform: translateY(50px);
    transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.popup-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-overlay.active .popup-content {
    transform: translateY(0);
}

.popup-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.popup-info h2 {
    color: #F58021;
    font-family: "Montserrat";
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center;
}

.popup-info p {
    text-align: center;
    margin: auto;
    font-family: "Montserrat";
    width: 600px;
}

.donation-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.amount-btn {
    background-color: #00A092;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 14px;
    margin-bottom: 20px;
    transition: .2s;
}

.amount-btn:hover {
    background-color: #05786E;
}

.close-popup {
    position: absolute;
    font-size: 50px;
    color: white;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-self: right;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.close-popup:hover {
    color: #dbdbdb;
}

@media screen and (max-width: 795px) {
    .toggle {
        display: flex;
    }

    .navbar .socials {
        display: none;
    }

    .navbar .tabs {
        position: absolute;
        top: 0;
        left: 0;
        width: 40vh;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        line-height: 10vh;
        background-color: #20113D;

        transform: translateX(-100%);
        transition: transform .4s ease-in-out;
    }

    .tabs li a {
        color: white;
    }

    .tabs.mobile-open {
        transform: translateX(0);
    }

    .close-sidebar {
        display: block;
        align-self: flex-end;
        border: none;
        color: white;
        font-size: 60px;
        cursor: pointer;
        margin-bottom: 20px;
        padding: 20px;
        background: transparent;
    }

    .navbar.menu-active .toggle {
        display: none;
    }
}

/* ABOUT SECTION */

#about {
    max-width: 1400px;
    margin: auto;
    margin-top: 150px;
}

.info1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.info h2 {
    color: #00A092;
    font-family: "Montserrat";
    font-size: 54px;
}

.info p {
    font-family: "Montserrat";
    margin-top: 50px;
}

.text1 {
    width: 40%;
    margin-top: 70px;
}

.imgDiv {
    display: flex;
    width: 60%;
}

.imgDiv img {
    width: 100%;
}

.info2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 150px;
}

.text2 {
    margin-top: 115px;
}

#quick-donate-section {
    margin: auto;
    margin-top: 150px;
    background-color: #20113D;
    color: white;
}

#donate-row {
    max-width: 1400px;
    margin: auto;
    height: 221px;
}

.donate-row-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.donate-text {
    width: 70%;
    font-family: "Montserrat";
    margin-top: 50px;
}

.donate-text h3 {
    font-size: 42px;
}

.donate-text p {
    font-size: 18px;
    margin-top: 20px;
    width: 70%;
}

.quick-donate {
    width: 30%;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quick-donate p {
    font-size: 26px;
    margin-top: 45px;
}

#donate-popup-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin-top: 10px;
    width: 320px;
    border-radius: 3px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

#donate-popup-btn p {
    font-size: 18px;
    margin: 0;
    padding-left: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#donate-popup-btn span {
    font-size: 30px;
    background-color: #F58021;
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

#donate-popup-btn:hover span {
    background-color: #D26004;
    transition: .2s ease-in-out;
}
